<div id="app">
  <%= form_with model: category do |f| %>
    <div class="row">
      <div class="col-xs-4">
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, :maxlength => 255, class: "form-control" %>
          <% category.errors.full_messages_for(:name).each do |message| %>
            <div><%= message %></div>
          <% end %>
        </div>
        <div class="form-group text-right">
          <%= link_to 'Back', categories_path, class: "btn btn-info" %>
          <% if @category.id %>
            <%= link_to "Delete", category_path(@category), method: :delete, :data => {:confirm => 'Are you sure?'}, class: "btn btn-danger" %></li>
          <% end %>
          <%= f.submit "Save", class: "btn btn-success" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
