<div class="topbar">
  <div class="container">
    <div class="row" style="padding-top: 13px;">
      <div class="col-sm-9">
        <div class="btn-group" style="vertical-align: top; margin-right: 5px;">
          <%= link_to "Home", root_path, class: "btn btn-primary" %>
        </div>
        <h3 style="line-height: 34px; display: inline; margin-left: 5px;">
          Categories
        </h3>
      </div>
      <div class="col-sm-3 text-right">
        <%= link_to "New Category", new_category_path, class: "btn btn-info" %>
      </div>
    </div>
  </div>
</div>

<div style="margin-bottom: 60px;"></div>

<div id="categories">
  <table class="table">
    <thead>
    <tr>
      <th>Name</th>
    </tr>
    </thead>
    <tbody class="list">
      <% @categories.each do |category| %>
        <tr>
          <td>
            <%= link_to category.name, edit_category_path(category) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
