<h1><%= @category.name %></h1>

<ul>
  <li><%= link_to "Edit", edit_category_path(@category) %></li>
  <li><%= link_to "Destroy", category_path(@category), method: :delete, :data => {:confirm => 'Are you sure?'} %></li>
</ul>

<%= link_to 'Back', categories_path %>