/*
 *= require ./font-awesome
 *= require ./bootstrap-sprockets
 *= require ./bootstrap
 *= require ./selectize
 *= require ./github
 *= require ./daterangepicker
 *= require_self
 */

pre {
  border: none;
  border-radius: 0;
}

body {
  padding-top: 15px;
  padding-bottom: 15px;
}

table.results-table {
  margin-bottom: 0;
}

.results-table th {
  cursor: pointer;
}

.results-table thead {
  background-color: #fff;
}

.results-table img {
  max-width: 200px;
  max-height: 200px;
}

input.search {
  border: none;
  box-shadow: none;
}

input.search:focus {
  outline: none;
  box-shadow: none;
}

.button_to {
  display: inline-block;
}

.button_to input:focus {
  outline: none;
}

.form-inline .selectize-control, .text-right .selectize-control {
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  margin-right: 20px;
  text-align: left;
}

#statement-box .selectize-control {
  margin-right: 0;
}

#editor-container {
  background-color: #141414;
  padding-top: 10px;
  padding-bottom: 10px;
}

#editor {
  height: 160px;
}

.ace-twilight .ace_gutter {
  background: transparent;
}

.ace_print-margin-layer {
  display: none;
}

.ace_gutter-cell.error {
  background-color: red;
}

.chart {
  height: 300px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.chart > .results-container {
  height: 300px;
  border: solid 1px #ddd;
  overflow: scroll;
  text-align: left;
}

.dashboard {
  font-weight: bold;
}

#search-item {
  display: none;
}

.creator {
  text-align: right;
  color: #999;
}

.vars {
  color: #ccc;
}

.check-state {
  font-weight: bold;
}

.check-state a {
  color: inherit;
}

.check-state.failing {
  color: red;
}

.check-state.passing {
  color: #5cb85c;
}

.check-state.error {
  color: #666;
}

.check-state.timed_out {
  color: orange;
}

.check-state.disabled {
  color: #000;
}

.topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  z-index: 1001;
  border-bottom: solid 1px whitesmoke;
  background-color: #fff;
}

.glyphicon-remove {
  cursor: pointer;
  color: #d9534f;
  display: none;
  float: right;
  margin-top: 3px;
}

.list-group li:hover .glyphicon-remove {
  display: inline;
}

.list-group {
  cursor: move;
}

#header a.active {
  color: #999;
}

#code {
  max-height: 236px;
  overflow: hidden;
}

#code.expanded {
  max-height: none;
}

[v-cloak] {
  display: none;
}

.chart-container {
  clear: both;
}

.chart-container h4 {
  text-align: center;
}

.chart-container h4 a {
  color: inherit;
}

.query-error {
  color: red;
}

.small-form {
  margin-right: auto;
  margin-left: auto;
  max-width: 400px;
}

.alert {
  padding-top: 8px;
  padding-bottom: 8px;
}

h1, h2, h3, h4, p, hr, .table, .navbar, #header, .alert, .form-group {
  margin-top: 0;
  margin-bottom: 15px;
}

.double-margin, .chart-container {
  margin-bottom: 30px;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

.schema-table {
  max-width: 500px;
}

.selectize-dropdown .create {
  padding: 5px 8px;
}
