<div id="queries">
  <div id="header">
    <div class="pull-right" style="line-height: 34px;">
      <% if blazer_user %>
        <%= link_to "All", root_path, class: !params[:filter] ? "active" : nil, style: "margin-right: 40px;" %>

        <%= link_to "Liked", root_path(filter: "liked"), class: params[:filter] == "liked" ? "active" : nil, style: "margin-right: 40px;" %>

        <%= link_to "Mine", root_path(filter: "mine"), class: params[:filter] == "mine" ? "active" : nil, style: "margin-right: 40px;" %>
      <% end %>

      <div class="btn-group">
        <%= link_to "New Query", new_query_path, class: "btn btn-info" %>
        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="caret"></span>
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu">
          <li><%= link_to "Checks", checks_path %></li>
          <% if Blazer.uploads? %>
            <li><%= link_to "Uploads", uploads_path %></li>
          <% end %>
          <li role="separator" class="divider"></li>
          <li><%= link_to "New Dashboard", new_dashboard_path %></li>
          <li><%= link_to "New Check", new_check_path %></li>
        </ul>
      </div>
      <% if is_category_admin %>
        <div class="btn-group">
          <%= link_to 'Categories', categories_path, class: "btn btn-info" %>
        </div>
      <% end %>
    </div>
    <input type="text" v-model="searchTerm" placeholder="Start typing a category, query, dashboard, or person" style="width: 300px; display: inline-block;" v-focus class="search form-control" />
  </div>

  <table class="table">
    <thead>
      <tr>
        <th style="width: 20%">Category</th>
        <th>Name</th>
        <th style="width: 10%; text-align: right;">Likes</th>
        <th style="width: 10%; text-align: right;">Viewed</th>
        <th style="width: 20%; text-align: right;">Created At</th>
        <% if Blazer.user_class %>
          <th style="width: 20%; text-align: right;">Mastermind</th>
        <% end%>
      </tr>
    </thead>
    <tbody class="list" v-cloak>
      <tr v-for="query in visibleItems">
        <td v-if="query.category_id !== null">
          {{ query.category_name }}
        </td>
        <td v-if="query.category_id === null">
        </td>
        <td>
          <% if blazer_user %>
            <a v-if="query.liked" v-on:click="like($event, query, false)"><i class="fa fa-thumbs-up" aria-hidden="true" style="color:#337ab7"></i></a>
            <a v-else v-on:click="like($event, query)"><i class="fa fa-thumbs-o-up" aria-hidden="true" style="color:#337ab7"></i></a>
          <% end %>
          <a :href="itemPath(query)" :class="{ dashboard: query.dashboard }">{{ query.name }}</a>
          <span class="vars">{{ query.vars }}</span>
        </td>
        <td class="creator">
          {{ query.likes_count }}
        </td>
        <td class="creator">
          {{ query.viewed_count }}
        </td>
        <td class="creator">
          {{ query.created_at }}
        </td>
        <% if Blazer.user_class %>
          <td class="creator">{{ query.creator }}</td>
        <% end %>
      </tr>
    </tbody>
  </table>

  <p v-if="more" class="text-muted">Loading...</p>
</div>

<script>
  <%= blazer_js_var "dashboards", @dashboards %>
  <%= blazer_js_var "queries", @queries %>
  <%= blazer_js_var "more", @more %>

  var prepareSearch = function (list) {
    var i, q, searchStr
    for (i = 0; i < list.length; i++) {
      q = list[i]
      searchStr = q.name + q.creator + q.category_name
      if (q.creator === "You") {
        searchStr += "mine me"
      }
      q.searchStr = prepareQuery(searchStr)
    }
  }

  var prepareQuery = function (str) {
    return str.toLowerCase()
  }

  var app = new Vue({
    el: "#queries",
    data: {
      searchTerm: "",
      more: more,
      updateCounter: 0
    },
    created: function() {
      this.listItems = dashboards.concat(queries)

      prepareSearch(this.listItems)

      this.queryIds = {}
      for (i = 0; i < queries.length; i++) {
        this.queryIds[queries[i].id] = true
      }

      if (this.more) {
        var _this = this

        $.getJSON(Routes.queries_path(), function (data) {
          var i, j, newValues, val, size = 500;

          var newValues = []
          for (j = 0; j < data.length; j++) {
            val = data[j]
            if (val && !_this.queryIds[val.id]) {
              newValues.push(val)
            }
          }

          prepareSearch(newValues)

          _this.listItems = _this.listItems.concat(newValues)
          _this.more = false
          // hack to get to update
          _this.updateCounter++
        })
      }
    },
    computed: {
      visibleItems: function () {
        // hack to get to update
        this.updateCounter
        var q, i

        if (this.searchTerm.length > 0) {
          var term = prepareQuery(this.searchTerm)
          var items = []
          var fuzzyItems = []
          for (i = 0; i < this.listItems.length; i++) {
            q = this.listItems[i]
            if (q.searchStr.indexOf(term) !== -1) {
              items.push(q)
            } else if (fuzzysearch(term, q.searchStr)) {
              fuzzyItems.push(q)
            }
          }
          return items.concat(fuzzyItems)
        } else {
          return this.listItems
        }
      }
    },
    methods: {
      itemPath: function (item) {
        if (item.dashboard) {
          return Routes.dashboard_path(item.to_param)
        } else {
          return Routes.query_path(item.to_param)
        }
      },
      like: function(event, item, like = true) {
        event.target.classList.remove(...event.target.classList);
        event.target.classList.add(..."fa fa-spinner fa-spin".split(" "));
        window.location.href = like ? Routes.like_path(item.to_param) : Routes.dislike_path(item.to_param)
      }
    },
    directives: {
      focus: {
        inserted: function (el) {
          el.focus()
        }
      }
    }
  })
</script>
